<div class="dashborad">
    <h2>Your Favorite Hovercraft ❤️</h2>

    <div class="favorites">
        {{#if favorites}}
        <ul class="favorite">
            {{#each favorites as |favorite|}}
            <li class="favorite-craft">

                <div class="img-div">
                    <img class="favorite-image" src="{{favorite.craft.images.[0].src}}"></img>
                </div>

                <div class="info-div">
                    <h3 class="favorite-title">{{favorite.craft.title}}</h3>
                        <input type="hidden" value="{{favorite.id}}" id="recordThing"/>
                    <a href="/craft/{{favorite.craft.id}}"><button class="craft-btn"> View Details</button></a>

                    <button class="remove-btn" id="{{favorite.id}}">Remove Favorite</button>

                </div>

            </li>
            {{/each}}
        </ul>

        {{else}}
        <p class="alert-message">No favorites yet!</p>
        {{/if}}
    </div>
</div>

<script src="/js/delete-favorite.js"></script>