<div class="single-craft">
    <div class="img-div">
        <img class="craft-img" src="{{crafts.images.[0].src}}"></img>
    </div>

    <div class="info-div">
        <h4 class="craft-title">{{crafts.title}}</h4>
        <p class="craft-crew">{{crafts.crew}}</p>
        <p class="craft-info">{{crafts.description}}</p>

    </div>

    {{#if loggedIn}}
    <a href="">Add this craft to your favorites ❤️</a>
    {{else}}
    <p class="message">Like this craft? <a href="/login">Login</a> to the website!</p>
    {{/if}}
</div>